@import url(lib/font-awesome/css/font-awesome.css);



body {
	font-family: 'Droid Sans Mono', sans-serif;
	color: rgba(203, 203, 203, 0.3);
	margin:40px;
	background: #222020;
}

h1 {
	font-weight: normal;
	border: 2px solid rgba(203, 203, 203, 0.05);
	padding:10px 20px;
}

#control-panel {
	border: 2px solid rgba(203, 203, 203, 0.05);
	padding:40px 20px;
	overflow: hidden;
}

.panel {
	width:50%;
	float:left;
}

#controls {
	text-align: center;
}

#telemetry {
	border-left: 1px solid rgba(203, 203, 203, 0.05);
	margin-left: -1px;
}

#schematic {
	text-align: center;
}


/* Buttons */


.move-buttons {
	float:left;
	overflow: hidden;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
	padding-bottom: 20px;
}

.move-buttons button { 
	width:70px;
}

.top-button-row {
	text-align: center;
}

button {
	background: rgba(89,89,89,0.3);
	color: rgba(203, 203, 203, 0.3);
	border:0;
	padding:18px;
	font-size: 24px;
	border-radius: 4px;
	text-transform: uppercase;
	text-align: center;
	margin:4px;
}

button:hover {
	background: rgba(89,89,89,0.2);
	color: rgba(203, 203, 203, 0.2);
 ;
}

button:active, button.pressed {
	background: rgba(89,89,89,0.1);
	color: rgba(203, 203, 203, 0.1);
}

.text-button {
	letter-spacing: 4px;
}

.text-button i {
	margin-right: 4px;
}